# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.constant
.env
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

/android
/build
/dist
.cursor
.cursorignore
keystore.jks
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local e2e / browser test artifacts
test-screenshots/

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.env.local